<div class="fastorder-container">
    <div class="search-form">
        <!-- viewmodel point to "viewmodel: function()..." in js file -->
        <input type="text" class="search-field" placeholder="Search..." name="search"
            data-bind="value: searchInput, event: { keyup: viewmodel, mouseover: enableSearchResult, mouseout: disableSearchResult }, valueUpdate: 'afterkeydown', hasFocus: isSelected">
        <!-- for multiple condition: add "()" after observable -->
        <!-- ko if: searchInput -->
        <div class="search-result" data-bind="event: { mouseover: enableSearchResult, mouseout: disableSearchResult }, visible: isSelected() || searchResultHover()">
            <!-- ko if: searchResult().length > 0 -->
            <table>
                <tbody data-bind="foreach: searchResult">
                    <tr>
                        <td><img src="" class="search-product-image" alt="product-image"
                                data-bind="attr: { src: search_image_html }"></td>
                        <td><a href="" class="search-product-link" data-bind="text: name, attr: { href: url_key_html }"></a></td>
                        <td>
                            <span class="search-currency-symbol" data-bind="text: currencySymbol"></span>
                            <span class="search-product-price" data-bind="text: price"></span>
                        </td>
                        <td><button type="button" class="action primary tocart" data-bind="click: $parent.addToCart">ADD TO CART</button></td>
                    </tr>
                </tbody>
            </table>
            <!-- /ko -->
            <!-- ko if: searchResult().length == 0 -->
            <div class="blank-result">None product was found!</div>
            <!-- /ko -->
        </div>
        <!-- /ko -->
    </div>
</div>