<div class="fastorder-container">
    <div class="search-form">
        <!-- viewmodel = class name in js -->
        <input type="text" class="search-field" placeholder="Search..." name="search"
            data-bind="value: searchInput, event: { 'keyup': viewmodel }, valueUpdate: 'afterkeydown'">
        <div class="search-result">
            <table>
                <tbody data-bind="foreach: searchResult">
                    <tr>
                        <td><img src="" class="search-product-image" alt="product-image"
                                data-bind="attr: { src: search_image_html }"></td>
                        <td><a href="" class="search-product-link" data-bind="text: name, attr: { href: url_key_html }"></a></td>
                        <td>
                            <span class="search-currency-symbol" data-bind="text: currencySymbol"></span>
                            <span class="search-product-price" data-bind="text: price"></span>
                        </td>
                        <td><button type="button" class="action primary tocart" data-bind="click: $parent.addToCart">ADD TO CART</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>